*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 body{
    background-color: #eeeeee;
    font-family: "Open Sans", sans-serif;
}
html {
    scroll-behavior: smooth;
  }
:root{
    --blue: #004b91;
    --red:#f9556d;
    --green:#00AB33;
}
h1, h2, h3 h4, h5{
    font-size: 32px;
}
p{
    font-size: 16px;
    font-family: "montserrat", sans-serif;
    line-height: 21px;
    color: #000000;
}
.marginTopTwenty{
    margin-top: 20px;
}
.mt-10{
    margin-top: 10px;
}
.header{
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 2px 20px;
}
.nav-logo img{
    width: 100%;
    max-width: 300px;
    position: relative;
    /* top: 9px; */
}
.headerRightContentWrapper{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    justify-content: end;
}
.contactWrapper{
    display: flex;
    align-items: center;
    gap: 6px;
}
.callBox{
    width: 33px;
    height: 33px;
    border-radius: 100%;
    background-color: #00AB33;
    display: flex;
    align-items: center;
    justify-content: center;
}
.callBox img{
    width: 20px;
}
.contact{
    font-size: 12px;
    color: #004B91;
}
.contact p{
    font-size: 12px !important;
}
.contact a{
    font-weight: 600;
    text-decoration: none;
    color: #666666;
    font-family: "montserrat", sans-serif;
}
.searchBar{
    width: 100%;
    max-width: 250px;
    border-radius: 18px;
    position: relative;
    border: none;
    display: flex;
    align-items: center;
    background-color: #ffffff;
}
.searchBar input{
    width: 100%;
    height: 37.5px;
    padding: 8px 15px;
    border: 1px solid #ccc;    
    border-radius: 18px;
    outline: none;
    position: absolute;
    background-color: #ffffff;
}
.searchBar img{
    position: absolute;
    width: 21px;
    height: 21px;
    right: 12px;
    transform: translateY(0px);
    cursor: pointer;
}
.search::placeholder{
    color: #454545;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}
.headerBookNowBtn{
    width: 105px;
    height: 40px;
    border-radius: 4px;
    border: none;
    background:#00AB33;
    color: #fff;
    cursor: pointer;
    outline: transparent;
    font-size: 14px;
    font-weight: 400;
}
.headerBookNowBtn:hover{
    background-color: #028028;
    font-weight: 600;
}
.headerWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 4px;
}
/* scroll-css */
::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-track {
    background: #004b91;
  }
  ::-webkit-scrollbar-thumb {
    background: #f87102;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #00AB33;
  }
/* navbar-css-started */
.navbar{
    width: 100%;
    background-color: #004b91;
    /* height: 40px; */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 9999;
}
.navList{
    width: 100%;
    max-width: 1440px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
    position: relative;
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #004b91;
    min-width: 160px;
    max-width: 205px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 99999;
    animation: dropDownAnimation 0.5s ease-in;
    max-height: 350px;
    overflow-y: auto;
  }
  @keyframes dropDownAnimation{
    0%{
        scale: 0;
        opacity: 0;
    }
    100%{
        scale: 1;
        opacity: 1;
    }
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid orange;
    font-size: 13px !important;
    font-family: "montserrat", sans-serif !important;
    justify-content: start !important;
    color: #ffffff !important;
  }
  .lastChlid{
    border-bottom: none !important;
  }
  .dropdown-content a:hover {
    background-color: var(--green);
  }
  .dropdwomHover:hover .dropdown-content {
    display: block;
  }
  .dropdwomHover:hover .navList {
    background-color: #3e8e41;
  }
.navList a{
    text-decoration: none;
    color: #fff;
    padding: 0px 10px;
    padding-block: 11px;
    border-right: 1px solid #ffffff6e;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}
.navList a img{
    width: 13px;
}
.verticalLine{
    height: 100%;
    width: 1px;
    background-color: #fff;
}
.navLink:hover{
    background-color: var(--green);
}
/* commonSliderButtonBookNow */
.slideCommonButtonBookNow{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-inline: auto;
 }
 .sliderBtn{
    width: 140px;
    height: 37px;
    border-radius: 4px;
    background-color: #01358d;
    color: #fff;
    border: none;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
 }
 
 .sliderBtn:hover{
    background-color: #022563;
    color: #e3e2e2;
    transition: 0.5s;
    font-weight: 600;
 }
 /* footerstarted */
 .footerContainer{
    width: 100%;
    margin-top: 60px;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
    border: none;
 }
.footer{
    padding-block: 23px;
    width: 100%;
    max-width: 1160px;
    margin-inline: auto;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
 }
 .commonFooterHeaderStyle{
    font-family: "montserrat", sans-serif;
    font-size: 17px;
    color: var(--blue);
    margin-bottom: 23px;
 }
 .addressContent{
    max-width: 277.5px;
    font-size: 13px;
    color: #454545;
    font-family: "Open Sans", sans-serif !important;
    margin-bottom: 6px;
 }
 .phoneAndEmail{
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 4px;
 }
.phoneAndEmail a{
    text-decoration: none;
    font-size: 13px !important;
    color: #454545 !important;
    font-family: "Open Sans", sans-serif !important;
}
 .phoneAndEmail img{
    width: 16px;
 }

.footerList{
    font-size: 13px !important;
    color: #454545 !important;
    font-family: "Open Sans", sans-serif !important;
    display: flex;
    align-items: baseline;
    gap: 6px;
    margin-top: 4px;
}
.footer li{
    list-style-type: none;
}
.footerList li a{
    text-decoration: none;
    color: #454545;
}
.footerbullets{
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background-color: var(--red);
}
.socialLinks{
    display: flex;
    align-items: center;
    gap: 12px;
}
.weAreSocial{
    font-size: 18px;
    font-weight: bold;
}
.iconsBg{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #b9aca4;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.1s;
}
.iconsBg:hover{
    background-color: #022563;
}
.iconsBg img{
    width: 14px;
    height: 16px;
}
.iconsBg img:hover{
    fill: #00AB33;
}
.navList.show {
    display: none;
}
.footerTwo{
    width: 100%;
    max-width: 1160px;
    margin-inline: auto;
    padding-block: 10px;
    border-top: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footerTwo a{
    color: var(--blue) !important;
    text-decoration: none;
}
.footerTwo p{
    font-family: "montserrat", sans-serif !important;
    font-size: 13px;
    color: #454545;
}
.footerList a:hover{
    font-weight: 600;
    color:var(--red);
}
.inlineFooterLine{
    width: 60px;
    height: 3px;
    background-color: var(--green);
    position: relative;
    top: -22px;
}

.footerTwoLinks{
    display: flex;
    align-items: center;
}
.footerTwoLinks a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    padding-inline: 10px;
    border-right: 1px solid #ccc;
    color: #454545;
    font-family: "montserrat", sans-serif !important;
}
.footerTwoContactUs{
    border-right: 0px !important;
}

.footerTwoLinks a:hover{
    color: var(--red) !important;
}
.navLogoTwo{
    display: none;
}
.navLogoTwo img{
    width: 100%;
    max-width: 150px;
    position: relative;
    top: 6px;
}
.mobMenu img{
    width: 26px;
    display: none;
}
.commonHeadingOne{
    font-size: 24px;
    font-weight: bold;
    font-family: "montserrat", sans-serif !important;
    line-height: 28px;
    color: var(--drakblue);
    margin-top: 8px;
}
.commonHeadingTwo{
    font-size: 20px;
    font-weight: bold;
    font-family: "montserrat", sans-serif !important;
    line-height: 28px;
    color: var(--drakblue);
    margin-top: 8px;
}
.commonHeadingThree{
    font-size: 18px;
    font-weight: bold;
    font-family: "montserrat", sans-serif !important;
    line-height: 28px;
    color: var(--drakblue);
    margin-top: 8px;
}
.commonPara li{
    font-size: 16px;
    font-weight: 400;
    font-family: "montserrat", sans-serif !important;
    line-height: 22px;
    color: #fff;
    margin-top: 4px;
    max-width: 900px;
}
.commonPara{
    max-width: 900px;
}
.hclinks{
    margin-top: 12px;
}
.Headings{
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    color: var(--drakblue);
    font-family: "montserrat", sans-serif;
    margin-bottom: 16px;
}
.registration{
    margin-top: 30px;
}
.registration p{
     max-width: 250px;
     width: 100%;
     font-weight: 400;
     color: #666666;
}
.ItineraryBold{
    text-transform: uppercase;
    margin-bottom: 5px;
}
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    display: none;
}
.moveTop {
    width: 30px;
    height: 30px;
    background-color: #ffffff47;
    position: absolute;
    right: 20px;
    cursor: pointer;
    border-radius: 4px;
    opacity: 0.6;
    display: flex;
    align-items: center;
    justify-content: end;
    animation: moveUp 1s ease-in-out; 
    max-width: 1260px;
}
@keyframes moveUp {
    0% {
        transform: translateY(100%); /* Start off-screen at the bottom */
        opacity: 0; /* Start fully transparent */
    }
    100% {
        transform: translateY(0); /* Final position */
        opacity: 1; /* Fully visible */
    }
}
.moveTop img{
    width: 30px;
    animation: beating 2s ease infinite;
}
@keyframes beating {
    0%{
        scale: 0.8;
    }
    100%{
        scale: 1;
    }
}
/* companyRegistration */
.companyRegistration{
    width: 100%;
    max-width: 800px;
    padding: 30px 40px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    margin-inline: auto;
}
.companyRegistration img{
    margin-inline: auto;
    max-width: 100%;
    padding: 20px;
}
/* CSS for positioning the WhatsApp icon */
.whatsapp-icon {
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 9999;
    width: 50px;
    height: 50px;
    animation: whatsApp 0.5s ease infinite alternate;
    transform-origin: center;
}
@keyframes whatsApp {
    0% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}
/* chatBoxCss */
.chatBox{
    width: 300px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    transition: .40s ease;
    transform: translateY(360px);
}
.chatHead{
    width: 100%;
    height: 40px;
    background-color: #004B91;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 10px;
    cursor: pointer;
}
.chatHead div{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #00AB33;
}
.chatBox:hover{
    transform: translateY(0px);
}
.chatHead h4{
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    font-family: "poppins", sans-serif;
    display: flex;
    align-items: center;
    gap: 6px;
}
.chatHead img{
    width: 14px;
}
.chatBody{
    width: 100%;
    height: 300px;
    overflow-y:scroll;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #f3f1f1;
}
.chatBodyWrapper{
    padding: 10px;
}
.chatImage{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    overflow: hidden;
    border: 0.5px solid #666;
}
.chatName{
    font-size: 14px;
    font-weight: 600;
    color: #000;
    position: relative;
    top: 8px;
}
.nameTime span{
    font-size: 12px;
    opacity: 0.7;
    font-weight: 300;
}
/* .chatOne{} */
.personMessage{
    font-size: 14px;
    font-weight: 400;
    font-family: "poppins",sans-serif;
    columns: #000;
    max-width: 80%;
    padding: 8px;
}
.chatImageAndnameTime{
    display: flex;
    align-items: center;
    gap: 10px;
}
.chatImageTwo{
    display: flex;
    align-items: center;
    justify-self: center;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    overflow: hidden;
    border: 0.5px solid #666;
}
.chatImage img{
    width: 100%;
    height: 100%;
}
.chatInputField{
    width: 100%;
    height: 40px;
    background-color: white;
    position: relative;
}
.chatInputField input{
    width: 100%;
    height: 100%;
    outline: none;
    padding: 2px 10px;
    max-width: 269px;
    border: none;
}
.chatInputField img{
    width: 16px;
    position: absolute;
    right: 14px;
    top: 11px;
    cursor: pointer;
}
.chatImageAndnameTimeTwo{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: end;
}
.chatImageTwo img{
    width: 100%;
    height: 100%;
}
.personTwotext{
    display: block;
    margin-left: auto;
    text-align: right;
}
/* mediaQuery-Start */
@media only screen and (max-width: 1200px) {
    .footer{
        padding-inline: 20px;
    }
    .footerTwo{
        padding-inline: 20px;
    }
}
@media only screen and (max-width: 992px) {
    .searchBar {
        max-width: 140px;
    }
    .nav-logo img {
        max-width: 220px;
    }
    .navList a {
        padding: 10px 5px;
        font-size: 12px;
        gap: 2px;
    }
    .cardContainerOne{
        gap: 20px;
        justify-content: center !important;
    }
    .widgetBoxWrapper {
        justify-content: center !important;
        gap: 20px;
    }
    .padding-inline{
        padding-inline: 20px;
    }
}
@media only screen and (max-width: 768px) {
    .searchBar{
        display: none;
    }
    .navList a {
        padding: 10px 5px;
        font-size: 11px;
        gap: 2px;
    }
    .footer{
        gap: 20px;
        flex-wrap: wrap;
    }
    .footerTwo{
        flex-direction: column-reverse;
        gap: 20px;
    }
}
@media only screen and (max-width: 680px) {
  .navList {
    display: none;
  }
  .navList a{
    border-right: 0;
  }
  .navList.show {
    display: block;
    position: absolute; 
    top: 60px; 
    left: 0;
    background-color: #004b91; 
    height: 100vh;
    z-index: 9999999; 
    overflow-y: auto; 
  }
  .home-icon{
    display: none;
  }
  .mobMenu {
    display: block;
  }
  .navLogoTwo {
    display: none;/
  }
    .navLink{
        border-bottom: 1px solid #666;
        background-color: #004b91;
    }
    .navList a {
        justify-content: space-between;
        padding-inline: 20px !important;
    }
    
    .dropdown-content {
        min-width: 160px;
        max-width: 100% !important;
        width: 100%;
    }
    .navLogoTwo{
        display: block;
        
    }
    .navbar{
        justify-content: space-between;
        padding-inline: 10px;
        padding-block: 6px;
    }
    .nav-logo img{
        display: none;
    }
    .headerRightContentWrapper{
        justify-content: space-between;
    }
    .header{
        padding-inline: 10px;
    }
    .callBox{
        min-width: 33px;
    }
    .mobMenu img{
        display: block;
    }
    .footerTwoLinks{
        flex-wrap: wrap;
        justify-content:center;
        gap: 8px;
    }
    .footerTwoContactUs{
        margin-top: 10px;
    }
}
@media only screen and (max-width: 576px) {
    .headerRightContentWrapper{
        justify-content: space-between;
    }
    .header{
        padding-inline: 10px;
    }
    .callBox{
        min-width: 33px;
    }

    .footerTwo p{
        text-align: center;
    }
    .footerTwoLinks a{
        padding-inline: 16px;
    }
    .headerBookNowBtn {
        width: 73px;
        height: 28px;
        font-size: 10px;
        font-size: 400;
    }
    .contact {
        font-size: 10px;
    }
    .contact a {
        font-weight: 500;
    }
    .callBox {
        min-width: 28px;
    }
    .callBox img {
        width: 14px;
    }
    .hunzaDistinationBanner{
        height: 45vh;
    }
    .fairyMedowDistinationBanner{
        height: 220px;
    }
    .distinationBannerHeadings {
        padding-top: 49px !important;
        font-size: 27px;
    }
    .fairyMedowImgW{
        margin-top: -27px;
    }
    .chitralDistinationBanner {
        height: 45vh;
    }
    input[type="color"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="email"],
    input[type="month"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="text"],
    select:focus,
    textarea {
    font-size: 1rem !important;
    }
}
@media (min-width: 681px) {
    .navList {
      display: flex;
    }
  }