*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --blue: #004b91;
    --red:#f9556d;
    --green:#00AB33;
    --drakblue: #09233b;
    --btn-color:#FFBA08;
}
.CorporateSocialResponsibilityBanner{
    background-image: url(/assests/images/aboutUsIMages/socialCo.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 290px;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;

}
.CorporateSocialResponsibilityBanner h3{
    font-size: 40px;
    font-weight: 800;
    max-width: 600px;
    color: #6f8902;
    text-align: center;
}
.socialResponsibilityBanner{
    width: 100%;
    max-width: 1160px;
    margin-inline: auto;
}
.socialResponsibilityContents{
    padding-inline: 20px;
    margin-top: 50px;
}
.socialResponsibilityContents p{
    margin-top: 12px;
}
.socialResponsibilityContents h4{
    color: var(--drakblue);
    font-size: 24px;
}
.socialSubContents{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 45px;
    padding-inline: 20px;
    margin-top: 30px;
}

.subContentLeft{
    width: 50%;
}
.subContentLeft p,.subContentRight p{
    min-height: 130px;
    margin-top: 12px;
}

.subContentLeft h4,.subContentRight h4{
    color: var(--drakblue);
    font-size: 24px;
}
.csrImgContainer{
    max-width: 560px;
    height: auto;
    margin-top: 12px;
    overflow: hidden;
}
.csrImgContainer img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.subContentRight{
    width: 50%;
}

.corSocialEndContent{
    margin-top: 50px;
}

.corSocialEndContent p{
    max-width: 800px;
    text-align: center;
    margin-inline: auto;
    font-size: 18px;
    font-weight: 500;
    padding-inline: 20px;
    color: #09233b;
}

@media only screen and (max-width:660px){
    .CorporateSocialResponsibilityBanner h3 {
        font-size: 40px;
        color: #0a0a0a;
        background-color: #d3d3d347;
    }
    .socialSubContents{
        flex-direction: column;
    }
    .subContentLeft,.subContentRight {
        width: 100%;
    }
    .CorporateSocialResponsibilityBanner h3 {
        font-size: 30px;
    }
    .subContentLeft h4, .subContentRight h4{
        font-size: 20px;
    }
    .corSocialEndContent p {
        max-width: 700px;
        font-size: 16px;
    }
}